.navbar-container {
    background-color: #006400; 
    color: white; 
    padding: 16px; 
  }
  
  .navbar-links {
    display: flex;
    gap: 16px;
  }
  
  .navbar-links a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  .navbar-links a:hover {
   color: #00FFFF; 
  }
  